<h1><%= @user.username %>'s Goals</h1>

<%= link_to "Add Goal", new_goal_url if current_user == @user %>

<ul>
  <% @user.goals.each do |goal| %>
    <% if goal.status == "INCOMPLETE" && (goal.user == current_user || goal.private == "PUBLIC")%>
      <li><%= goal.description %>
        <%= button_to "Mark as Complete", "/goals/#{goal.id}/mark_as_complete", method: :patch if current_user == @user %>
        <%= button_to "Delete Goal", goal_url(goal), method: :delete if current_user == @user %>
      </li>
    <% end %>
  <% end %>
</ul>

<h2>Completed Goals</h2>

<ul>
  <% @user.goals.each do |goal| %>
    <% if goal.status == "COMPLETE" && (goal.user == current_user || goal.private == "PUBLIC")%>
      <li>
        <%= goal.description %>
        <%= button_to "Delete Goal", goal_url(goal), method: :delete if current_user == @user %>
      </li>
    <% end %>
  <% end %>
</ul>


<h2>Comments</h2>

<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[commentable_type]" value="<%= User %>">
  <input type="hidden" name="comment[commentable_id]" value="<%= @user.id %>">

  <label for="">Comment:<textarea name="comment[body]" rows="8" cols="50"></textarea></label>

  <input type="submit" name="" value="Add Comment">
</form>

<ul>
  <% @user.comments.each do |comment| %>
    <li>
      <h6><%= comment.owner %></h6><br>
      Posted at:<%= comment.created_at %><br>
      <%= comment.body %>
      <%= button_to "Remove Comment", comment_url(comment), method: :delete if current_user == comment.owner %>
    </li>
  <% end %>
</ul>
