<h1>Goal Details</h1>

Author: <%= @goal.user.username %>
<%= @goal.description %>
Goal made: <%= @goal.created_at %>
Goal completed: <%= @goal.updated_at if @goal.status == "COMPLETE" %>
<%= @goal.status %>

<%= link_to "Edit Goal", edit_goal_url(@goal) %>
<%= button_to "Delete Goal", goal_url(@goal), method: :delete %>

<%= link_to "All Goals", goals_url %>
